<h3 class="subheader">Polyanimus</h2>

<button id="random_thought">New Thought!</button>

<div class="row">
  <div class="medium-6 medium-centered columns whole-quote">
      <h3 id="title_header"><h3>
      <h5 id="thinker_header"></h4>
      <p id="quote_text"></p>
  </div>
</div>

<a href="/polyanimus/contribute">Add</a>
