<div class="row">
  <div class="medium-8 medium-centered columns">
    <form action="/polyanimus" method="POST">
      <!-- <label for=titleBox>Title</label> -->
      <label for="titleBox">Title</lable>
      <input type="text" name="title_box" id="titleBox" />

      <label for="nameBox">Thinker</label>
      <input type="text" name="name_box" id="nameBox" />

      <label for="quoteBox">Thought</label>
      <textarea name="quote_box" id="quoteBox"></textarea>

      <button type="submit" id="submit">Contribute</button>
    </form>
  </div>
</div>
